/* ==== GRID SYSTEM ==== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed';

}

a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-all {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}


.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
}


.col-1, .col-2,
.col-3, .col-4,
.col-5, .col-6,
.col-7, .col-8,
.col-9, .col-10,
.col-11,.col-12 {
    width: 100%;
}

.col-1-m {
    width: 8.33%;
}

.col-2-m {
    width: 16.66%;
}

.col-3-m {
    width: 25%;
}

.col-4-m {
    width: 33.33%;
}

.col-5-m {
    width: 41.66%;
}

.col-6-m {
    width: 50%;
}

.col-7-m {
    width: 58.33%;
}

.col-8-m {
    width: 66.66%;
}

.col-9-m {
    width: 75%;
}

.col-10-m {
    width: 83.33%;
}

.col-11-m {
    width: 91.66%;
}

.col-12-m {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-m {
    display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .col-1-t {
        width: 8.33%;
    }

    .col-2-t {
        width: 16.66%;
    }

    .col-3-t {
        width: 25%;
    }

    .col-4-t {
        width: 33.33%;
    }

    .col-5-t {
        width: 41.66%;
    }

    .col-6-t {
        width: 50%;
    }

    .col-7-t {
        width: 58.33%;
    }

    .col-8-t {
        width: 66.66%;
    }

    .col-9-t {
        width: 75%;
    }

    .col-10-t {
        width: 83.33%;
    }

    .col-11-t {
        width: 91.66%;
    }

    .col-12-t {
        width: 100%;
    }

    .hidden-t {
        display: none;
    }
}

@media only screen and (min-width: 60em) { /* 960px */
    .container {
        width: 75%;
        max-width: 60rem;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .hidden {
        display: none;
    }
}


@media only screen and (min-width: 75em) {
    /* 1200px
    * Pas obligatoire mais peut etre utile
    */

    .col-1-l {
        width: 8.33%;
    }

    .col-2-l {
        width: 16.66%;
    }

    .col-3-l {
        width: 25%;
    }

    .col-4-l {
        width: 33.33%;
    }

    .col-5-l {
        width: 41.66%;
    }

    .col-6-l {
        width: 50%;
    }

    .col-7-l {
        width: 58.33%;
    }

    .col-8-l {
        width: 66.66%;
    }

    .col-9-l {
        width: 75%;
    }

    .col-10-l {
        width: 83.33%;
    }

    .col-11-l {
        width: 91.66%;
    }

    .col-12-l {
        width: 100%;
    }

    .hidden-l {
        display: none;
    }
}

.bubbles{
    position:absolute;
    width:100%;
    min-height: 80vh;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  @keyframes rise{
    100%{
      bottom:80vh;
    }
  }
  
  section.one {
    min-height: 80vh;
    background: #f5d038;
    color: #fff;
}

.section-one-left {
    margin-top: 10em;
}

  .btn-grad {background-image: linear-gradient(to right, #ffffff 0%, #FFFFFF  51%, #ECE9E6  100%)}
  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: #f5d038;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #f5d038;
     text-decoration: none;
   }

   #loader {
    width: 60px;
    height: 60px;
    margin-top: 17em;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #48c2bc00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
   #load {
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    min-height: 102vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  section.two {
    min-height: 80vh;
    background: #48c2bc;
    color: #fff;
}
